.App {
  text-align: center;
}

body {
  background: #eef4fb;
}

* {
  font-family: "Roboto Slab", serif;
}
h1 {
  font-size: 65px;
  color: #007ae6;
}

button {
  cursor: pointer;
}

.grey-card-container {
  max-width: 725px;
  margin: auto;
  background: #f6f6f6;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  padding: 40px 50px 30px;
  max-height: 360px;
  overflow: hidden;
  overflow-y: scroll;
}

.view-button {
  border-radius: 5px;
  background: #fff;
  color: #007ae6;
  border: none;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  padding: 15px 30px;
  font-size: 16px;
  margin-top: 15px;
}

.active-button {
  background: #fcba02;
  color: #007ae6;
}

.view-selection-div {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: auto;
  margin-top: 30px;
}
